spring:
  application:
    name: innowise-api-gateway

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user-service-route
              uri: ${USER_SERVICE_URL}
              predicates:
                - Path=/api/users/**
              filters:
                - Authentication

            - id: auth-service-route
              uri: ${AUTH_SERVICE_URL}
              predicates:
                - Path=/api/auth/**

            - id: order-service-route
              uri: ${ORDER_SERVICE_URL}
              predicates:
                - Path=/api/orders/**
              filters:
                - Authentication

            - id: payment-service-route
              uri: ${PAYMENT_SERVICE_URL}
              predicates:
                - Path=/api/payments/**
              filters:
                - Authentication

jwt:
  access-key: ${JWT_ACCESS_KEY}
  refresh-key: ${JWT_REFRESH_KEY}

management:
  otlp:
    tracing:
      endpoint: ${TEMPO_URL}
  endpoints:
    web:
      exposure:
        include: health, prometheus, info, tracing
  endpoint:
    health:
      probes:
        enabled: true
      show-details: always

  tracing:
    sampling:
      probability: 1.0
    propagation:
      type: b3

  metrics:
    tags:
      application: ${spring.application.name}
    distribution:
      percentiles-histogram:
        http.server.requests: true

logging:
  pattern:
    level: "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"