spring:
  application:
    name: innowise-api-gateway

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user-service-route
              uri: ${USER_SERVICE_URL}
              predicates:
                - Path=/api/users/**
              filters:
                - Authentication

            - id: auth-service-route
              uri: ${AUTH_SERVICE_URL}
              predicates:
                - Path=/api/auth/**

            - id: order-service-route
              uri: ${ORDER_SERVICE_URL}
              predicates:
                - Path=/api/orders/**
              filters:
                - Authentication

            - id: payment-service-route
              uri: ${PAYMENT_SERVICE_URL}
              predicates:
                - Path=/api/payments/**
              filters:
                - Authentication

management:
  endpoint:
    health:
      probes:
        enabled: true

jwt:
  access-key: ${JWT_ACCESS_KEY}
  refresh-key: ${JWT_REFRESH_KEY}
