spring:
  application:
    name: innowise-api-gateway

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user-service-route
              uri: ${USER_SERVICE_URL}
              predicates:
                - Path=/api/users/**
              filters:
                - AuthenticationFilter

            - id: auth-service-route
              uri: ${AUTH_SERVICE_URL}
              predicates:
                - Path=/api/auth/**

            - id: order-service-route
              uri: ${ORDER_SERVICE_URL}
              predicates:
                - Path=/api/orders/**

jwt:
  access-key: ${JWT_ACCESS_KEY}
  refresh-key: ${JWT_REFRESH_KEY}
