services:
  app:
    build: .
    ports:
      - "8083:8080"
    depends_on:
      - db
    environment:
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_URL: ${DB_URL}
      USER_SERVICE_URL: ${USER_SERVICE_URL}
      USER_SERVICE_TOKEN: ${USER_SERVICE_TOKEN}

  db:
    image: postgres:15-alpine
    restart: always
    ports:
      - "5435:5432"
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  db_data: